<div class="footer footer d-flex justify-content-center align-item-center">
  <div class="d-flex justify-content-center">
    This footer is made with <i class="fas fa-heart"></i>  at OpenBooks77
  </div>
</div>
