.btn-blue {
  background-color: $blue;
  color: #fff;
  :hover {
    background-color: $blue-light !important;
  }
}

.blue-light {
  color: $blue-light;
}

.bg-blue-light {
  background-color: $blue-light;
}
