.footer {
  border-top: 1px solid $gray;
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 56px;
  padding: 0px 50px;
  color: $gray;

  .footer .fa-heart {
    color: $pink;
  }
}
