.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand {
  color: $blue;
}

.nav-item a {
  color: $blue;
  border-bottom: 1px solid transparent;
}
.nav-item a:hover {
  color: $blue-light;
  border-bottom: 1px solid $blue-light;

}
